/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #1e1e1e;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    /* position: fixed; */
    width: 100%;
    z-index: 10;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffcb45;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
}

.nav a:hover {
    color: #ffcb45;
}

.reservation-btn {
    background-color: #ffcb45;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reservation-btn:hover {
    background-color: #ffc107;
}

/* Hero Section */
.hero {
    height: 100vh;
    background-image: url('iyn.jpg'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color:#C70039;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #04009A;
}

.hero-buttons .btn {
    background-color: #ffcb45;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
}

.hero-buttons .btn-secondary {
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid #ffcb45;
    color: #26001B;
}

.hero-buttons .btn:hover {
    background-color: #ffc107;
    /* background-color: #C70039; */
}

/* Footer */
.footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin-bottom: 10px;
}

.social-icons a {
    color: #ffcb45;
    margin: 0 10px;
    text-decoration: none;
    font-size: 16px;
}

.social-icons a:hover {
    color: #ffc107;
}
